:root{
    --lightPink: #FFF3EE;
    --white: #FFFFFF;
    --darkPink: #D5AFA1;
  }
  @font-face {
    font-family: f1;
    src: url("/public/fonts/Melodrama-Medium.otf");
  }
  
  .webgl{
    /* width: 100%;
    height: 100%; */
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    overflow: hidden;
    z-index: 5;
  }
  #body{
    position: relative;
    width: 100vw;
    min-height:100vh;
    box-sizing: border-box;
    margin: 0px;
    overflow-x: hidden;
    padding: 0px;
    background-color: var(--lightPink);
  }
  body{
    position: relative;
    width: 100vw;
    /* min-height:100vh; */
    box-sizing: border-box;
    margin: 0px;
    overflow-x: hidden;
    padding: 0px;
    background-color: var(--lightPink);
  }

  .border{
    border: 2px solid red;
  }

  /*widths and heights*/
  .w100{
    width: 100%;
    
  }
  .h100{
    height: 100vh;
  }


  /*grid*/
  .grid{
    display: grid;
  }
  .placeCenter{
    display: grid;
    place-items: center;
  }

  /*colors*/
  .cWhite{
    color:#FFFFFF;
  }

  /*font size*/
.xl{
    font-size: 24vw;
    line-height: 0;
}

/*font family*/
.f1{
  font-family: f1;  
} 