:root{
    --lightPink: #FFF3EE;
    --white: #FFFFFF;
    --darkPink: #D5AFA1;
  }
  @font-face {
    font-family: f1;
    src: url("/fonts/Melodrama-Medium.otf");
  }

  *{
    /* margin: 0;
    padding: 0; */
    box-sizing: border-box;
  }
  
  
  .webgl{
    /* width: 100%;
    height: 100%; */
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    overflow: hidden;
    z-index: 5;
  }
  #body{
    position: relative;
    width: 100vw;
    /* min-height:100vh; */
    box-sizing: border-box;
   
    overflow-x: hidden;
    
    background-color: var(--lightPink);
  }
  
  body{
    position: relative;
    width: 100vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* min-height:100vh; */
    box-sizing: border-box;
    margin: 0px;
    overflow-x: hidden;
    padding: 0px;
    background-color: var(--lightPink);
  }


  /**/
  .relative{
    position: relative;
  }
  .absolute{
    position: absolute;
    top: 60px
  }
  
  .z10{
    z-index: 100000;
  }
  /*padding*/
  .pi1{
    padding-inline: 6rem;
  }

  .border{
    border: 2px solid red;
  }

  /*widths and heights*/
  .w100{
    width: 100%;
    
  }
  .h100{
    height: 100vh;
  }


  /*grid*/
  .grid{
    display: grid;
  }
  
  .placeCenter{
    display: grid;
    place-items: center;
  }

  /*flex*/
  .flex{
    display: flex;
  }
  .flexC{
    display: flex;
    flex-direction: column;
  }
  .flexCenter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .alignC{
    align-items: center;
  }
  .textC{
    text-align: center;
  }
  .justifyBw{
    justify-content: space-between;
  }
  .justifyC{
    justify-content: center;
  }
  .justifyR{
    justify-content: right;
  }
  .justifyAround{
    justify-content: space-around;
  }


  /*margins*/
  .mgT1{
    margin-top: 1rem;
  }
  


  /*gap*/
  .gap0{
    gap: 0.25rem;
  }
  .gap1{
    gap: 1rem;
  }
  .gap2{
    gap: 2rem;
  }



  /*colors*/
  .cWhite{
    color:#FFFFFF;
  }
  .cLw{
    color: rgba(0, 0, 0, 0.527);
  }

  /*font size*/
  .sm0{
    font-size: 1.1rem;
  }
  .sm1{
    font-size: 1.7rem;
  }
  .sm2{
    font-size: 1.9rem;
  }
  .l{
    font-size: 4rem;
  }
  .l1{
    font-size: 5rem;
  }
.xl{
    font-size: 24vw;
    line-height: 0;
}
.xl0{
  font-size: 20rem;
  line-height: 0;
}

/*font weight*/
.bold{
    font-weight: 600;
}
.lightBold{
    font-weight: 550;
}

/*font family*/
.f1{
  font-family: f1;  
} 
.f2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

/*img boxes*/

.imgBox{
  overflow: hidden;
  height: 500px;
}
.imgBox>img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}



  /*page2*/
  #page2{
    background-image: url(/images/3.jpg);
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /*page3*/
  .page3{
    width: 100vw;
    height: 100vh;
    background-color: #EEE1F1;
    margin: 0;
    
  }

  /**/
  .page4{
    width: 100vw;
    height: 100vh;
    padding: 0;
  }
  .page4 video{
    width: 100%;
    height: 100%;
  }